# ignore data directories to save space

/data/
/er/
nr/coincidence_fitting/simulated_data/
nr/pf_efficiency/nerix_111111_1112.root
nr.zip
nr/coincidence_fitting/neriX_simulation_config.py
nr/coincidence_fitting/neriX_simulation_config.pyc
nr/coincidence_fitting/mcmc_analysis/fake_data/results/
nr/coincidence_fitting/mcmc_analysis/mcmc_results/
nr/coincidence_fitting/mcmc_analysis/mcmc_results_local/
calibrations/gas_gain/results
nr/pmt_gain/results
calibrations/cascade_pmt_model/results
calibrations/pos_correction/results
nr/nr_band_matching/mcmc_results_local/
nr/pmt_gain/results/
./.git/objects/15/d13f6b073a4fdf75bfde211b0e989d8b9bb230
./.git/objects/5c/2c982d0a1b3ac4ef500d49f2e2c086c63dc67b
./.git/objects/pack/pack-28c612e055325197282e043ba162d400504fad1f.pack
./data/run_11/nerix_141203_1506.root
./data/run_11/nerix_141208_1123.root
./data/run_11/nerix_141210_1028.root
./data/run_11/nerix_141217_1041.root
./data/run_11/nerix_150106_1100.root
./data/run_11/nerix_150106_1137.root
./data/run_11/nerix_150106_1234.root
./data/run_11/nerix_150106_1404.root
./data/run_11/nerix_150114_1407.root
./data/run_11/nerix_150128_1158.root
./data/run_11/nerix_150128_1327.root
./data/run_11/nerix_150128_1454.root
./data/run_11/nerix_150128_1622.root
./data/run_11/nerix_150204_1210.root
./data/run_11/nerix_150210_1210.root
./data/run_11/nerix_160405_1604.root
./data/run_15/nerix_160118_1341.root
./data/run_15/nerix_160331_1031.root
./data/run_15/nerix_160331_1104.root
./data/run_15/nerix_160331_1131.root
./data/run_15/nerix_160331_1205.root
./data/run_15/nerix_160331_1232.root
./data/run_15/nerix_160331_1549.root
./data/run_15/nerix_160331_1629.root
./data/run_15/nerix_160401_1628.root
./data/run_15/nerix_160403_0936.root
./data/run_15/nerix_160404_1059.root
./data/run_15/nerix_160404_1204.root
./data/run_15/nerix_160404_1232.root
./data/run_15/nerix_160404_1259.root
./data/run_15/nerix_160404_1325.root
./data/run_15/nerix_160404_1350.root
./data/run_15/nerix_160404_1421.root
./data/run_15/nerix_160404_1447.root
./data/run_15/nerix_160404_1530.root
./data/run_15/nerix_160404_1555.root
./data/run_15/nerix_160404_1621.root
./data/run_15/nerix_160404_1802.root
./data/run_15/nerix_160405_0034.root
./data/run_15/nerix_160405_0625.root
./data/run_15/nerix_160405_0737.root
./data/run_15/nerix_160405_0915.root
./data/run_15/nerix_160405_1054.root
./data/run_15/nerix_160405_1145.root
./er/Calibrations/PMT Gain.zip
./er/Neural Network/Position Reconstruction/data/old/run_10/nerix_140715_1015.root
./er/Neural Network/Position Reconstruction/data/old/run_10/nerix_140715_1422.root
./er/Neural Network/Position Reconstruction/data/old/run_10/nerix_140716_0800.root
./er/Neural Network/Position Reconstruction/fann_correction/data/run_10/nerix_140924_1007.root
./er/Neural Network/Position Reconstruction/fann_correction/data/run_11/nerix_150129_1613.root
./er/Neural Network/Position Reconstruction/fann_correction/data/run_11/new_NN_nerix_150213_1200.root
./er/reprocessor/corrected_data/run_10/ct_nerix_140919_1719.root
./er/reprocessor/corrected_data/run_11/ct_nerix_141219_1816.root
./nr/coincidence_fitting/mcmc_analysis/mcmc_results_local/30deg_1.054kV_4.5kV/full_matching/sampler_dictionary.p
./nr/coincidence_fitting/mcmc_analysis/mcmc_results_local/35deg_1.054kV_4.5kV/full_matching/sampler_dictionary.p
./nr/coincidence_fitting/mcmc_analysis/mcmc_results_local/62deg_1.054kV_4.5kV/full_matching/sampler_dictionary.p
./nr/coincidence_fitting/simulated_data/nerixsim-20keV.root
./nr/coincidence_fitting/simulated_data/nerixsim-7keV.root
./nr/coincidence_fitting/simulated_data/nerixsim-pure_nr_spec.root
./nr.zip
./Slow Control/old/smac-0.3.0/smacd.log
./daq/levelmeter/*.dat
