# ignore data directories to save space

/data/
/er/
nr/coincidence_fitting/simulated_data/
nr.zip
nr/coincidence_fitting/mcmc_results/
nr/coincidence_fitting/mcmc_results_local/
nr/coincidence_fitting/neriX_simulation_config.py
nr/coincidence_fitting/neriX_simulation_config.pyc
nr/coincidence_fitting/fake_data/
